!.gitignore

# Ignore all my files! They are private! ¬¬
*
*/*

# Include only dotfiles
!.bashrc
!.profile
!.bash_profile
!.bash_logout
!.curlrc
!.gemrc
!.gitconfig
#!.local/share/nautilus/scripts/ # It's not possible to include files if a parent directory is excluded. I'm using "git add -f" instead

# Include empty history files (mod 400)
!.node_repl_history
!.wget-hsts
!.python_history
!.lesshst
