[user]
	name = Roberto MF
	email = git@virgulilla.com
[push]
	default = simple
[color]
	ui = auto
[alias]
	s = status --short --branch
	b = branch --all
	d = diff
	ds = diff --staged
	f = fetch --all --prune
	c = commit -m
	# Pretty log alias from http://stackoverflow.com/a/9074343
	l = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	# Navigate throught commit's patches. n go forward, shift+n go backwards
	lp = -c core.pager='less --pattern=^commit.*$' log --patch
	amend = commit --amend
	prune = remote prune
	unstage = reset HEAD --
	restore = checkout --
	last = log -1 HEAD
