!.gitignore

# Ignore all my files! They are private! ¬¬
*
*/*

# Include only dotfiles
!.bashrc
!.profile
!.bash_profile
!.bash_logout
!.curlrc
!.gemrc
!.gitconfig

# Include empty history files (mod 400)
!.node_repl_history
!.wget-hsts
!.python_history
!.lesshst
